<div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-6">
            <h2>register for web cart account</h2>
            <div class="row">
                <div class="col-md-10">
                    <form name="registerform"  nonvalidate>
                        <div class="form-group">
                            <label for="firstname">EmployeeId:</label>
                            <input type="text" class="form-control" id="firstname" placeholder="Enter employeeId" name="firstname" ng-model="employee.employeeId" required="">
                            <span style="color:red" ng-show="registerform.employeeId.$invalid">
                            <!--<span ng-show="registerform.employeeId.$error.required"> employeeId is required.</span>-->
                        </span>
                        </div>
                        <div class="form-group">
                            <label for="lastname">Name:</label>
                            <input type="lastname" class="form-control" id="lastname" placeholder="Enter name" name="lastname" ng-model="employee.name" required="">
                            <span style="color:red" ng-show="registerform.name.$invalid">
                            <!--<span ng-show="registerform.name.$error.required"> name is required.</span>-->
                        </span>
                        </div>
                        <div class="form-group">
                            <label for="username">Address:</label>
                            <input type="text" class="form-control" id="username" placeholder="Enter address" name="username" ng-model="employee.address" required="">
                            <span style="color:red" ng-show="registerform.address.$invalid">
                            <!--<span ng-show="registerform.address.$error.required"> address is required.</span>-->
                        </span>
                        </div>
                        <div class="form-group">
                            <label for="password">City:</label>
                            <input type="text" class="form-control" id="password" placeholder="Enter city" name="password" ng-model="employee.city" required>
                            <span style="color:red" ng-show="registerform.city.$invalid">
                            <!--<span ng-show="registerform.city.$error.required">city is required.</span>-->
                        </span>
                        </div>
                        <div class="form-group">
                            <label for="password">Mobile:</label>
                            <input type="text" class="form-control" id="mobile" placeholder="Enter password" name="password" ng-model="employee.mobileNumber" required>
                            <span style="color:red" ng-show="registerform.mobile.$invalid">
                            <!--<span ng-show="registerform.mobile.$error.required">mobilenumber is required.</span>-->
                        </span>
                        </div>
                    </form>
                    <br>
                    <button type="button" class="btn btn-info"  ng-click="updateEmployeeDetails()">Update</button>
                </div>
            </div>
        </div>
        <!--<div class="col-md-4">-->
        <!--<br/><br/><br/><br/>-->
        <!--<div class="well">-->
        <!--<h3>Why join webCart.com?</h3>-->
        <!--<ul class="list-check">-->
        <!--<li>You will be in good hands. More than 350 000+ live stores</li>-->
        <!--<li>You will have access to 13 000+ Modules and themes in the <a href="https://www.opencart.com/index.php?route=marketplace/extension">webCart Marketplace</a>.</li>-->
        <!--<li>Post questions to the <a href="https://forum.opencart.com">webCart Community forum</a> where we have more than 110 000 registered members</li>-->
        <!--<li>Get a free subscription to our newsletter</li>-->
        <!--<li>You can apply for an OpenCart Developer account <a href="https://www.opencart.com/index.php?route=account/seller">here</a>.</li>-->
        <!--</ul>-->
        <!--</div>-->
        <!--</div>-->
    </div>
</div>
