<style>
#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: black;
    color: white;
}
</style>
<br/><br/>
<button class="btn btn-primary" ui-sref="employee">ADD NEW EMPLOYEE</button>
<br/><br/>
<table id="customers">
    <tr>
        <th>EmployeeID</th>
        <th>name</th>
        <th>Address</th>
        <th>City</th>
        <th>Mobilenumber</th>
        <th>action</th>
    </tr>
    <tr ng-repeat="employee in employeeList ">
        <td>{{employee.employeeId}}</td>
        <td>{{employee.name}}</td>
        <td>{{employee.city}}</td>
        <td>{{employee.address}}</td>
        <td>{{employee.mobileNumber}}</td>
        <td>
         <button class="btn btn-primary" ui-sref="employeeedit({employeeId:employee._id})">Edit</button>
         <button class="btn btn-danger" ng-click="deleteEmployee(employee._id)">Delete</button>
        </td>
    </tr>
</table>