<div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-6">
            <h2>login</h2>
                <div class="row">
                    <div class="col-md-10">
                        <form name="loginForm" action="/action_page.php" novalidate>
                            <div class="form-group">
                                <label for="username">username:</label>
                                <input type="text" class="form-control" id="username" placeholder="Enter username" name="username" ng-model="login.userName" required="">
                                <span style="color:red" ng-show="loginForm.username.$invalid">
                            <span ng-show="loginForm.username.$error.required"> username is required.</span>
                            </span>
                            </div>
                            <div class="form-group">
                                <label for="password">Password:</label>
                                <input type="password" class="form-control" id="password" placeholder="Enter password" name="password" ng-model="login.password" required>
                                <span style="color:red" ng-show="loginForm.password.$invalid">
                                    <span ng-show="loginForm.password.$error.required">Password is required.</span>
                                </span>
                            </div>
                         </form>
                        <br>
                    <button type="button"class="btn btn-info" ng-click="LoginDetails()">login</button>
                    </div>
                </div>
         </div>
         <div class="col-md-4">
         </div>
    </div>
</div>
