<div>
    <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-6">
        <h2>register for web cart account</h2>
        <div class="row">
            <div class="col-md-10">
                <form name="registerform"  nonvalidate>
                    <div class="form-group">
                        <label for="firstname">firstname:</label>
                        <input type="text" class="form-control" id="firstname" placeholder="Enter firstname" name="firstname" ng-model="user.firstName" required="">
                        <span style="color:red" ng-show="registerform.firstname.$invalid">
                            <span ng-show="registerform.firstname.$error.required"> firstname is required.</span>
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="lastname">lastname:</label>
                        <input type="lastname" class="form-control" id="lastname" placeholder="Enter lastname" name="lastname" ng-model="user.lastName" required="">
                        <span style="color:red" ng-show="registerform.lastname.$invalid">
                            <span ng-show="registerform.lastname.$error.required"> lastname is required.</span>
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="username">username:</label>
                        <input type="text" class="form-control" id="username" placeholder="Enter username" name="username" ng-model="user.userName" required="">
                        <span style="color:red" ng-show="registerform.username.$invalid">
                            <span ng-show="registerform.username.$error.required"> username is required.</span>
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" class="form-control" id="password" placeholder="Enter password" name="password" ng-model="user.password" required>
                        <span style="color:red" ng-show="registerform.password.$invalid">
                            <span ng-show="registerform.password.$error.required">Password is required.</span>
                        </span>
                    </div>
                </form>
                <br>
                <button type="button" class="btn btn-info"  ng-click="saveUserDetails()" ng-disabled="!isValidForm()">register</button>
            </div>
        </div>
    </div>
    <!--<div class="col-md-4">-->
        <!--<br/><br/><br/><br/>-->
        <!--<div class="well">-->
            <!--<h3>Why join webCart.com?</h3>-->
            <!--<ul class="list-check">-->
                <!--<li>You will be in good hands. More than 350 000+ live stores</li>-->
                <!--<li>You will have access to 13 000+ Modules and themes in the <a href="https://www.opencart.com/index.php?route=marketplace/extension">webCart Marketplace</a>.</li>-->
                <!--<li>Post questions to the <a href="https://forum.opencart.com">webCart Community forum</a> where we have more than 110 000 registered members</li>-->
                <!--<li>Get a free subscription to our newsletter</li>-->
                <!--<li>You can apply for an OpenCart Developer account <a href="https://www.opencart.com/index.php?route=account/seller">here</a>.</li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->
</div>
</div>


