<style>

.datepicker {
    position: relative;
    display: inline-block;
}
.datepicker .picker {
    box-sizing: border-box;
    position: absolute;
    z-index: 10000;
    min-width: 100%;
}
.datepicker .picker * {
    box-sizing: inherit;
}
.datepicker .picker .header {
    position: relative;
    text-align: center;
}
.datepicker .picker .header .month {
    cursor: pointer;
}
.datepicker .picker .header .prev,
.datepicker .picker .header .next {
    position: absolute;
    cursor: pointer;
}
.datepicker .picker .header .prev {
    left: 0;
}
.datepicker .picker .header .next {
    right: 0;
}
.datepicker .picker table {
    width: 100%;
    border: none;
    background: none;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
}
.datepicker .picker table td,
.datepicker .picker table th {
    text-align: center;
    padding: 0 3px;
}
.datepicker .picker table td.day {
    cursor: pointer;
}
.datepicker .picker table td.day.invalid {
    opacity: 0.5;
    cursor: default;
}

/* themes */
.datepicker.basic .picker {
    padding: 15px;
    background: white;
    border: 1px solid #888;
    border-radius: 3px;
    box-shadow: 2px 4px 14px rgba(0, 0, 0, 0.2);
    font-size: 90%;
}
.datepicker.basic .picker .header {
    padding: 0 0 8px 0;
}
.datepicker.basic .picker table td,
.datepicker.basic .picker table th {
    padding: 2px 6px;
}
.datepicker.basic .picker table td.day:hover {
    background: #eee;
}
.datepicker.basic .picker table td.day.today {
    font-weight: bold;
}
.datepicker.basic .picker table td.day.current {
    background: #aaa;
}


.datepicker.flat .picker {
    max-width: 500px;
    padding: 0;
    background: #EBEEF0;
    color: #444;
    font: normal normal 14px/20px sans-serif;
}
.datepicker.flat .picker .header {
    background: #337E9D;
    color: #fafafa;
    font-size: 85%;
    line-height: 40px;
    text-transform: uppercase;
}
.datepicker.flat .picker .header .prev {
    padding: 0 10px;
    left: 20px;
    font-size: 80%;
}
.datepicker.flat .picker .header .next {
    padding: 0 10px;
    right: 20px;
    font-size: 80%;
}
.datepicker.flat .picker .calendar {
    margin: 10px 20px;
}
.datepicker.flat .picker table th {
    opacity: 0.5;
    font-weight: normal;
    font-size: 80%;
}
.datepicker.flat .picker table td,
.datepicker.flat .picker table th {
    padding: 3px 8px;
}
.datepicker.flat .picker table td.day:hover {
    background: #D2D8ED;
}
.datepicker.flat .picker table td.day.today {
    font-weight: bold;
}
.datepicker.flat .picker table td.day.current {
    background: #989AA2;
    color: #f0f0f0;
}


.listpage
{
display:none;
}
    #customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: black;
    color: white;
}
</style>
<br/><br/><br/>
<nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: black;">
    <div class="container-fluid">
        <div class="navbar-header">
            <img src="images/image2.jpg" style="float:left " class="rounded float-left" alt="Cinque Terre" width="50" height="50">
            <a class="navbar-brand" href="#">Webpromotions</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a ui-sref="reports"><span class="glyphicon glyphicon-briefcase"></span> Report</a></li>
            <li><a ui-sref="dashboard"><span class="glyphicon glyphicon-tasks"></span> Dashboard</a></li>
            <li><a ui-sref="captureImage"><span class="glyphicon glyphicon-camera"></span> CaptureImage</a></li>
            <li><a ui-sref="settings"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
            <li><a ui-sref="login"><span class="glyphicon glyphicon-user"></span> logout</a></li>
        </ul>
    </div>
</nav>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">ADD NEW REPORT</button>
<br/><br/>
<div class="col-md-3 col-sm-3 col-xs-8 form-group pull-right top_search">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for..." ng-model="searchtext">
        <span class="input-group-btn">
			<button class="btn btn-default" type="button">Go!</button>
		</span>
    </div>
</div>

<table id="customers">
    <tr>
        <th>GENDER</th>
        <th>FACIAL EXPRESSION</th>
        <th>FROM DATE</th>
        <th>TO DATE</th>
        <th>ACTION</th>
    </tr>
    <tr dir-paginate="report in reportList|filter:searchtext|itemsPerPage:3">
        <td>{{report.gender}}</td>
        <td>{{report.facialExpression}}</td>
        <td>{{report.fromDate}}</td>
        <td>{{report.toDate}}</td>
        <td>
            <button class="btn btn-success" data-toggle="modal" ng-click="getSingleReport(report._id)" data-target="#Modal"> EDIT </button>
            <button class="btn btn-danger" ng-click="deleteReport(report._id)"> DELETE</button>
        </td>
    </tr>
</table>
<dir-pagination-controls class="paging" style="margin-left:450px;"
                         max-size="3"
                         direction-links="true"
                         boundary-links="true" >
</dir-pagination-controls>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">ADD REPORTS</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">GENDER:</label>
                        <input type="text" class="form-control" id="recipient-name" ng-model="reportSettings.gender">
                    </div>
                    <div class="form-group">
                        <label for="recipient-phone" class="col-form-label">FACIAL EXPRESSION:</label>
                        <input type="text" class="form-control" id="recipient-phone" ng-model="reportSettings.facialExpression">
                    </div>
                    <div class="form-group">
                        <label  for="recipient-name" class="col-form-label" >FROM DATE:
                        </label>
                        <div class="input-group" ng-controller="dateandtimepicCtrl as ctrl">
                            <input type="text" class="form-control" datetime-picker  ng-model="reportSettings.fromDate" is-open="ctrl.picker6.open"  ng-change="dateAndTime(ctrl.picker6.date);changingDateValue(ctrl.picker6.date)" ng-init="ctrl.picker6.date"/>
                            <span class="input-group-btn">
									<button type="button" class="btn btn-default"  ng-click="ctrl.openCalendar($event, 'picker6')"><span class="glyphicon glyphicon-calendar"></span>
									</button>
									</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label  for="recipient-name"  class="col-form-label" >TO DATE:
                        </label>
                        <div class="input-group" ng-controller="dateandtimepicCtrl as ctrl">
                            <input type="text" class="form-control" datetime-picker  ng-model="reportSettings.toDate" is-open="ctrl.picker6.open"  ng-change="dateAndTime(ctrl.picker6.date);changingDateValue(ctrl.picker6.date)" ng-init="ctrl.picker6.date"/>
                            <span class="input-group-btn">
									<button type="button" class="btn btn-default"  ng-click="ctrl.openCalendar($event, 'picker6')"><span class="glyphicon glyphicon-calendar"></span>
									</button>
									</span>
                        </div>
                    </div>


                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" data-dismiss="modal" ng-click="saveReportSettings()" class="btn btn-primary">save details</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reports">ADD REPORTS</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">GENDER:</label>
                        <input type="text" class="form-control" id="recipient-name" ng-model="report.gender">
                    </div>
                    <div class="form-group">
                        <label for="recipient-phone" class="col-form-label">FACIAL EXPRESSION:</label>
                        <input type="text" class="form-control" id="recipient-phone" ng-model="report.facialExpression">
                    </div>
                    <div class="form-group">
                        <label  for="recipient-name" class="col-form-label" >FROM DATE:
                        </label>
                        <div class="input-group" ng-controller="dateandtimepicCtrl as ctrl">
                            <input type="text" class="form-control" datetime-picker  ng-model="report.fromDate" is-open="ctrl.picker6.open"  ng-change="dateAndTime(ctrl.picker6.date);changingDateValue(ctrl.picker6.date)" ng-init="ctrl.picker6.date"/>
                            <span class="input-group-btn">
									<button type="button" class="btn btn-default"  ng-click="ctrl.openCalendar($event, 'picker6')"><span class="glyphicon glyphicon-calendar"></span>
									</button>
									</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label  for="recipient-name"  class="col-form-label" >TO DATE:
                        </label>
                        <div class="input-group" ng-controller="dateandtimepicCtrl as ctrl">
                            <input type="text" class="form-control" datetime-picker  ng-model="report.toDate" is-open="ctrl.picker6.open"  ng-change="dateAndTime(ctrl.picker6.date);changingDateValue(ctrl.picker6.date)" ng-init="ctrl.picker6.date"/>
                            <span class="input-group-btn">
									<button type="button" class="btn btn-default"  ng-click="ctrl.openCalendar($event, 'picker6')"><span class="glyphicon glyphicon-calendar"></span>
									</button>
									</span>
                        </div>
                    </div>


                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" data-dismiss="modal" ng-click="updateReport()" class="btn btn-primary">save details</button>
            </div>
        </div>
    </div>
</div>
