<style>
.listpage
{
display:none;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover
{
color:black;
}
.navbar-inverse .navbar-nav>li>a{
color:black;
}
</style>

<nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: black;">
    <div class="container-fluid">
        <div class="navbar-header">
            <img src="images/image2.jpg" style="float:left " class="rounded float-left" alt="Cinque Terre" width="50" height="50">
            <a class="navbar-brand" href="#">Webpromotions</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a style="color:#9d9d9d;" ui-sref="reports"><span class="glyphicon glyphicon-briefcase"></span> Report</a></li>
            <li ><a style="color:#9d9d9d;" ui-sref="dashboard"><span class="glyphicon glyphicon-tasks"></span> Dashboard</a></li>
            <li><a style="color:#9d9d9d;" ui-sref="captureImage"><span class="glyphicon glyphicon-camera"></span> CaptureImage</a></li>
            <li><a style="color:#9d9d9d;" ui-sref="settings"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
            <li><a style="color:#9d9d9d;" ui-sref="login"><span class="glyphicon glyphicon-user"></span> logout</a></li>
        </ul>
    </div>
</nav>

<div class="navbar-nav navbar-inverse navbar-fixed-top " style="margin-top:80px; background-color:white;">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" style="margin-right:100px;">
            <ul class="nav navbar-nav">
                <li><a ui-sref="systemsettings" style="margin-left:-640px;"><i class="icon-lock icon-white" style="margin-left:500px;"></i>System settings</a></li>
                <li><a ui-sref="adminsettings"><i class="icon-user icon-white"></i>Admin settings</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>
<br/><br/>
